* {
	margin: 0;
	padding: 0;
}
.post {
	background-color: aquamarine;
	container-type: inline-size;
	container-name: sidebar;
	/* container: inline-size / sidebar; */
}

.card h2 {
	font-size: 10cqw; /* 10% of the .post width*/
}
@container sidebar (min-width:700px) {
	.card {
		background-color: pink;
	}
	/* the style on .card h2 will come into effect when .post's width > 700px*/
	.card h2 {
		font-size: 5cqw; /* 5% of the .post width*/
	}
}
